<% if student_signed_in? %>
  <% provide(:title, "#{@sender.fname} #{@sender.lname}") %>
<% else %>
  <% provide(:title, "#{@sender.first_name} #{@sender.last_name}") %>
<% end %>  

<div align='center' id="message list">
  <% @messages.each do |msg| %>
    <p>
      <% if tutor_signed_in? %>
        <% if msg.sender_tutor %>
          You: <%= msg.message %>
        <% else %>
          <p><%= "#{@sender.first_name}:  #{msg.message}" %>
        <% end %>
      <% elsif student_signed_in? %>
        <% if msg.sender_student %>
          <p>You: <%= msg.message %>
        <% else %>
          <p><%= "#{@sender.fname}:  #{msg.message}" %>
        <% end %>
      <% end %>
      </br>
     
    <% end %>
  </p>


  <% if student_signed_in? %>
    <%= link_to "New Message", new_message_path({tutor_id: params[:tutor_id]}), class: "btn btn-primary" %>
  <% elsif tutor_signed_in? %>
    <%= link_to "New Message", new_message_path({student_id: params[:student_id]}), class: "btn btn-primary" %>
  <% end %>
</div>  
  
