<%= render "layouts/errors", obj: @student %>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_for(@student, :html => {class: "form-horizontal", role: "form"}) do |f| %>

      <%= f.text_field :first_name, :placeholder => "First name" %>
      <%= f.text_field :last_name, :placeholder => "Last name" %>

      <%= f.email_field :email, :placeholder => "Email" %>
      <%= f.number_field :phone, :placeholder => "Phone Number" %>

      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>

      <%= f.select :gender, ['Male', 'Female']%>
        
      <%= f.text_field :city, :placeholder => "City" %>
      <%= f.text_field :area, :placeholder => "Area" %>
      <%= f.text_field :zip, :placeholder => "Zip Code" %>
      <%= f.text_area :full_address, :placeholder => "Full Address" %>
      
      <%= f.label :profile_picture %>
      <%= f.file_field :profile_picture %>

      <%= f.submit class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>