<%= render "layouts/errors", obj: @tutor %>

<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(@tutor, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.text_field :fname, :placeholder => "First name" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.text_field :lname, :placeholder => "Last name" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.number_field :rate, :placeholder => "Rate" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.number_field :phone, :placeholder => "Phone Number" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.email_field :email, :placeholder => "Email" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.password_field :password, :placeholder => "Password" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.select :gender, ['Male', 'Female']%>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.text_area :description, :placeholder => "Description" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.text_field :city, :placeholder => "City" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.text_field :area, :placeholder => "Area" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.text_field :zip, :placeholder => "Zip Code" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-8">
        <%= f.text_area :full_address, :placeholder => "Full Address" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
    <% end %>
  </div>
</div>