<% provide(:title, "Tutors") %>

<div class="page-header">
    <h2>Listing all Tutors</h2>
</div>

<% if !logged_in? %>
  <p align="center">
    <%= link_to "Register as a tutor", new_tutor_path, class: "btn btn-primary" %>
  </p>
<% end %>

<% @tutors.each do |tutor| %>
  
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <%= image_tag tutor.profile_picture.url(:thumb) %>
        <div class="full-name">
        <%= link_to "#{tutor.fname} #{tutor.lname}", tutor_path(tutor) %>
        </div>
        <%= tutor.email %>
        <div class="p_description">
          <%= truncate(tutor.description, length: 100) %>
        </div>
      </div>
    </div>
  </div>
<% end %>




