<% provide(:title, "Tutors") %>

<div class="page-header">
    <h2>Listing all Tutors</h2>
</div>

<% unless logged_in? %>
  <p align="center">
    <%= link_to "Become a tutor", new_tutor_registration_path, class: "btn btn-primary" %>
  </p>
<% end %>


  
  <div class="container">
    <div class="row">
    <% @tutors.each do |tutor| %>
      <div class = "col-md-3">
        <%= image_tag tutor.profile_picture.url(:thumb) %>
        <div class="full-name">
        <%= link_to "#{tutor.fname} #{tutor.lname}", tutor_path(tutor) %>
        </div>
        <%= tutor.email %>
        <div>
          <%= truncate(tutor.description, length: 100) %>
        </div>
      </div>
    <% end %>
    </div>
  </div>





