<% provide(:title, "#{@tutor.fname} #{@tutor.lname}") %>
<% @already_reviewed = false %>
<div class="row">

<!------------Profile photo and info-------------->
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  <%= image_tag @tutor.profile_picture.url(:thumb) %>
  
  <h2><%= "#{@tutor.fname} #{@tutor.lname}" %></h2>
  <% if session[:student_id] %>
    <%= link_to "Message", new_message_path({tutor_id: params[:id]}), class: "btn btn-primary" %>
  <% end %>
  
  <% if logged_in? %>
    <p>email: <%= @tutor.email %></p>
    <p>Phone: <%= @tutor.phone %></p>
  <% else %>
    <p>Sign in to see contact informantion.</p>
  <% end %>
  
  <div class="page-header"><h4>About Myself</h4></div>
  <%= @tutor.description %>
</div>

<!--------ratings from the students-------------->
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 reviews">
  <p>Average rating: <div class="star-rating" data-score=<%= @avg_review %>></div>
  <em><%= "#{number_of_reviews}" %></em></p></br>
  
  <!-----Print all the reviews----->
  <% @reviews.each do |review| %>
    <p><% student = Student.find(review.student_id) %>
    <%= link_to student.first_name + " " + student.last_name, student_path(student) %>
    </br><small><%=  time_ago_in_words(review.created_at) %> ago</small>
    <div class="star-rating" data-score=<%= review.rating %>></div>
    <%= review.comment %>
    <% @already_reviewed = true if review.student_id == session[:student_id] %>
    
    <% if session[:student_id] and @already_reviewed %>
      <div class="edit-delete-review">
        <small><%= link_to "Edit", edit_tutor_review_path(@tutor, review) %></small>
        <small><%= link_to "Delete", tutor_review_path(@tutor, review), :method => :delete %> </small>
      </div></p></br>
    <% end %>
  <% end %>
  </br></br>
  
  <!------------Add review button------------>
  <% if !(@already_reviewed) and session[:student_id] %>
    <p><%= link_to "Write a review", new_tutor_review_path(@tutor), class: "btn btn-primary" %></p>
  <% end %>
</div>

<!----------subjects and education-------------->
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  <div id="show-subjects">
    <h3>Subjects taught:</h3>
    <% @subjects.each do |subject| %>
      <p><%= subject.name.capitalize %>, Grade: <%= subject.grade %></p>
    <% end %>
    
    <% if session[:tutor_id] == params[:id].to_i %>
      <p><%= link_to "Add New Subject", new_subject_path({tutor_id: params[:id]}) %></p>
    <% end %>
  </div>
  
  <div id="show-education">
    <h3>Education:</h3>
      <p><%= @tutor.degree %></p>
      <p><%= @tutor.institution %></p>
      <p><%= @tutor.year %></p>
  </div>
</div>

</div>

<script>
  $(".star-rating").raty({
    path: "/assets",
    readOnly: true,
    score: function() {
      return $(this).attr("data-score");
    }
  });
</script>
