<%= render "layouts/errors", obj: @subject %>

<div class='row'>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@subject, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <%= f.label :grade %>
      <%= f.select :grade, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', 'other'] %>

      <%= f.text_area :name, :placeholder => "Name of the subject." %>

      <%= f.hidden_field :tutor_id, :value => current_tutor.id %>

      <%= f.submit class: 'btn btn-primary btn-lg' %>

    <% end %>
  </div>
</div>