<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "contut", root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutors<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "View list of all tutors", tutors_path %></li>
            <li><%= link_to "Filter by subjects", filter_by_subject_path %></li>
          </ul>
        </li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">-->
      <!--  <div class="form-group">-->
      <!--    <input type="text" class="form-control" placeholder="Search">-->
      <!--  </div>-->
      <!--  <button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->
      <!------------- Navbar right -------------->
      <ul class="nav navbar-nav navbar-right">
        
        <!-------------  LOGGED IN  -------------->
        <% if logged_in? %>
          <li><%= link_to "My Profile", go_to_profile %></li>          
          
          <!-------------  SETTINGS DROPDOWN  -------------->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
            
            <ul class="dropdown-menu">
              <li><%= link_to "Messages", messages_path %></li>
              <li><%= link_to "Edit Profile", edit_profile %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Sign Out", logout_path, method: :delete %></li>
            </ul>
          </li>
        
        <!-------------  LOGGED OUT  --------------> 
        <% else %>
          <li><%= link_to "Signin", login_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>