<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:title) %></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500,400italic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>

    <header>
      <%= render "layouts/navbar" %>
    </header> 
    
    
    
    <div class="container-fluid">
      <%= render "layouts/flash" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
    
    <div class="container"><%= debug(params) if Rails.env.development? %></div>
  </body>
</html>
