<div class='row'>
  <div class="col-sm-4"></div>
  
  <div class="col-sm-4">  
    <h2 class="text-center text-uppercase">Student Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{ class: "form col-md-6 col-md-offset-3"}) do |f| %>
      <%= devise_error_messages! %>
    
      <div class = "form-group">
        <%= f.label(:profile_picture) %>
        <label class="btn btn-ghost btn-file">
         Browse <%= f.file_field :profile_picture, class: "hidden" %>
        </label>
      </div>
      
      <div class = "form-group">
        <%= f.label(:email) %>
        <%= f.email_field :email, autofocus: true, :placeholder => "Email", class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= f.label(:password) %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= f.label(:password_confirmation, "Confirm Password") %>
        <%= f.password_field :password_confirmation,autocomplete: "off", :placeholder => "Confirm Password", class: "form-control", required: true %>
      </div>
    
      <div class="form-group">
        <%= f.label(:first_name) %>
        <%= f.text_field :first_name, :placeholder => "First name", class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= f.label(:last_name) %>
        <%= f.text_field :last_name, :placeholder => "Last name", class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= f.label(:phone) %>
        <%= f.number_field :phone, :placeholder => "Phone Number", class: "form-control", required: true %>
      </div>
      
      <div class="form-group"> 
        <%= f.label(:gender) %><br>
        <%= f.label(:gender, "Male", value: "Male") %>
        <%= f.radio_button(:gender, "Male", checked: true) %>
        <%= f.label(:gender, "Female", value: "Female") %>
        <%= f.radio_button(:gender, "Female") %>
      </div>
    
      <div class="form-group">
        <%= f.label(:city) %>
        <%= f.text_field :city, :placeholder => "City", class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= f.label(:area) %>
        <%= f.text_field :area, :placeholder => "Area", class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <%= f.label(:zip) %>
        <%= f.text_field :zip, :placeholder => "Zip Code", class: "form-control", required: true %>
      </div>
        
      <div class="form-group">
        <%= f.label(:full_address) %>
        <%= f.text_area :full_address, :placeholder => "Full Address", class: "form-control" %>
      </div>
        
      
      <%= f.submit "Sign up", class: "btn btn-default" %>
      
      <%= render "students/shared/links" %>
    <% end %>
  </div>
  
  <div class="col-sm-4"></div>
</div>

